# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environments
# ===============================
new_env/
env/
venv/
.venv/

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/
*.ipynb_checkpoints/

# ===============================
# OS / Editor Files
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Uploaded / Temporary Files
# ===============================
uploads/
temp.jpg

# ===============================
# Trained Models (Large files)
# ===============================
*.h5


# ===============================
# Logs
# ===============================
*.log

# ===============================
# Secrets (if added later)
# ===============================
.env
